<p>Add Items</p>
<div class="p-3 mb-2 bg-light text-dark" style="margin: auto;width:50%;background-color: #dee2e6;text-align:center;">
    <form name="bucketListForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" [(ngModel)]="newList.title" name="title" placeholder="Enter title" required>
      </div>
      <div class="form-group">
        <label for="category">Select Category</label>
        <select class="form-control" [(ngModel)]="newList.category" name = "category" placeholder="Select">
            <option value="" disabled selected hidden>Please Choose...</option>
            <option value="High">High Priority</option>
            <option value="Medium">Medium Priority</option>
            <option value="Low">Low Prioirty</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" [(ngModel)]="newList.description" name="description" placeholder="Enter description" required>
      </div>
      <div class="form-group" style="display:none">
          <label for="username">Username</label>
          <input type="text" class="form-control" [(ngModel)]="newList.username" name="username" placeholder="Enter username" required>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="myForm.$pristine || bucketListForm.$invalid || bucketListForm.$pending">Submit</button>
    </form>
</div>